[submodule "submodules/tealscript"]
	path = submodules/tealscript
	url = https://github.com/algorand-devrel/tealscript
	branch = docs/docusaurus
[submodule "py-algorand-sdk"]
	path = submodules/py-algorand-sdk
	url = https://github.com/joe-p/py-algorand-sdk
	branch = docs/markdown
[submodule "js-algorand-sdk"]
	path = submodules/js-algorand-sdk
	url = https://github.com/joe-p/js-algorand-sdk
	branch = doc_fixes
[submodule "submodules/docs"]
	path = submodules/docs
	url = https://github.com/algorand/docs
	branch = master
[submodule "submodules/algokit-utils-ts"]
	path = submodules/algokit-utils-ts
	url = https://github.com/algorandfoundation/algokit-utils-ts
[submodule "submodules/algokit-cli"]
	path = submodules/algokit-cli
	url = https://github.com/algorandfoundation/algokit-cli
